<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.purplefrog.speexjni"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name">
        <activity android:name=".XiphCopyrightActivity"
                  android:label="@string/app_name">
        </activity>
    </application>
</manifest> 
